*{

    margin: 0;
    padding: none;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-weight: 600;

}

.wrapper{
    background-color: rgb(255, 221, 109);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    flex-shrink: 2;
    .new-task{
        display: flex;
        margin-top: 2rem;
    
    }
    input{
        border-radius: 40px 0 0 40px;
        border: none;
        padding: 1rem .5rem 1rem .5rem;
    }
    input:focus{
        outline: none;
    }
    .new-task button{
        border-radius: 0 40px 40px 0;
        border: none;
        background-color: chocolate;
        color: white;
    }
    .new-task button:hover{
        cursor: pointer;
        font-size: small;
    }
    .task-list{
        background-color: rgb(119, 48, 9);
        width: 95vw;
        color: white;
        min-height: 60vh;
        margin-top: 5rem;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}
.task-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 15rem;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 1rem;
    padding: .5rem;

    .task-title{
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
    button{
        background: none;
        border: none;
    }
    button:hover{
        cursor: pointer;
    }
    p{
        margin-left: .5rem;
    }
}

.completed{
    text-decoration: line-through;
    
}
.header{
    display: flex;
    gap: 2rem;
    min-height: 10vh;
}


@media (max-width: 700px)  {
    .wrapper{
        justify-content: space-around;
    }
    .new-task{
        margin: none;
    }
}